* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: whitesmoke;
    height: 100vh;
    padding: 5%;
}

main {
    height: 100%;
    padding: 5%;
    background: repeating-linear-gradient(90deg, #f4deff, #f4deff 0.8%, transparent 0.8%, transparent 3%)
}

h1, h2, .goals {
    padding: 10px;
    margin-bottom: 5px;
}

h1 {
    background-color: aqua;
}

h2 {
    background-color: cornflowerblue;
    color: white;
}

.goals {
    background-color: darkturquoise;
}

.sideways {
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: bottom;
    padding-bottom: 0.3em;
}